{
    "presets": ["env", "stage-0", 
        {"ignore": "./src/lib/dist/js/mui.js"} 
    ],
    "plugins": ["transform-runtime", ["component",{
        "libraryName": "mint-ui",
        "style": true
    }]]
}